button, hr, input {
  overflow: visible;
}

audio, canvas, progress, video {
  display: inline-block;
}

progress, sub, sup {
  vertical-align: baseline;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

menu, article, aside, details, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=submit], [type=reset], button, html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  touch-action: manipulation;
}

html, body {
  min-width: 320px;
}

img, video {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

figure img {
  display: block;
}

img.full {
  width: 100%;
  display: block;
}

@media \0screen {
  img {
    width: auto;
  }
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

button:focus, input:focus, select:focus, textarea:focus {
  outline: 0;
}

label {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
}

figure, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden-checkbox {
  position: fixed;
  left: -10000px;
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+scss&plugins=show-language */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre[class*='language-'] {
  position: relative;
}

pre[class*='language-'] > code[data-language] {
  overflow: scroll;
  max-height: 28em;
  display: block;
}

pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
}

.container:after, .container-narrow:after, .container-wide:after, .site-header:after, .get-started li:after, .docs-wrapper:after, .code-wrapper ul:after {
  clear: both;
  content: "";
  display: table;
}

body {
  min-width: 320px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-narrow {
  max-width: 960px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-wide {
  max-width: 1400px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: calc(3% + 10px) 0;
}

@media (min-width: 75em) {
  .section {
    padding: 50px 0;
  }
}

.heading2 {
  font-size: 30px;
  font-size: 1.875rem;
}

@media (min-width: 20em) {
  .heading2 {
    font-size: calc(1.875rem + 10 * (100vw - 20rem) / 880);
  }
  .heading2 else {
    font-size: calc(30px + 10 * (100vw - 320px) / 880);
  }
}

@media (min-width: 75em) {
  .heading2 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.section .heading2 {
  padding-bottom: calc(3% + 10px);
}

.heading4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.5em;
}

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1.5em 0;
}

p:last-child {
  margin-bottom: 0;
}

p a {
  color: #048af0;
}

p a:hover {
  text-decoration: underline;
}

svg {
  display: block;
  height: auto;
}

.btn {
  display: inline-block;
  height: 2.2em;
  line-height: 2.2;
  padding: 0 0.7em;
  border: 0;
  background-color: #f5f5f5;
  cursor: pointer;
}

.btn-bg {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 3em;
  line-height: 3;
  padding: 0 2em;
}

.btn-primary {
  color: #fff;
  background-color: #048af0;
}

.btn-secondary {
  color: #fff;
  background-color: #f08a04;
}

.header-wrapper {
  background-color: #048af0;
}

.site-header {
  color: #fff;
}

.site-header .container {
  max-width: none;
}

.site-header--sub {
  margin-bottom: 20px;
  background-color: #048af0;
}

@media (min-width: 41.6875em) {
  .site-header--sub {
    margin-bottom: 3%;
  }
}

.logo {
  float: left;
  padding: 10px 0;
}

.site-nav {
  float: right;
}

.site-nav li {
  font-size: 15px;
  font-size: 0.9375rem;
  display: inline-block;
}

.site-nav a {
  display: block;
  padding: 0 10px;
  transition: background-color 0.25s;
  opacity: 0.7;
}

.site-nav a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.site-nav .active a {
  opacity: 1;
}

@media (max-width: 37.4375em) {
  .svg-logo {
    width: 50px;
    height: 51.8518519px;
  }
  .svg-logo-text {
    display: none;
  }
  .site-nav li {
    line-height: 71.8518519px;
  }
}

@media (min-width: 37.5em) {
  .logo {
    padding: 20px 0;
  }
  .svg-logo-text {
    width: 200px;
    height: 44.5434298px;
  }
  .svg-logo {
    display: none;
  }
  .site-nav li {
    line-height: 84.5434298px;
  }
}

.site-footer {
  color: rgba(255, 255, 255, 0.7);
  background: #012540;
}

.site-footer .container {
  max-width: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-footer .copyright, .site-footer li {
  font-size: 12px;
  font-size: 0.75rem;
}

.site-footer .copyright, .site-footer ul {
  margin: 1.6% 0;
}

.site-footer__links li {
  display: inline-block;
}

.site-footer__links li:first-child a {
  padding-left: 0;
}

.site-footer__links li:last-child a {
  padding-right: 0;
}

.site-footer__links a {
  display: block;
  padding: 0 0.5em;
}

.site-footer a:hover {
  text-decoration: underline;
}

@media (min-width: 43.75em) {
  .site-footer .copyright {
    float: left;
  }
  .site-footer__links {
    text-align: right;
  }
}

.video-wrapper {
  padding: 3% 3% 2.5%;
}

#video-home {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

@media (min-width: 50em) {
  #video-home {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }
}

.intro {
  text-align: center;
}

.intro p {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
}

@media (min-width: 18.75em) {
  .intro p {
    font-size: calc(1.5rem + 12 * (100vw - 18.75rem) / 724);
  }
  .intro p else {
    font-size: calc(24px + 12 * (100vw - 300px) / 724);
  }
}

@media (min-width: 64em) {
  .intro p {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.intro .btn {
  margin-bottom: 6px;
}

.features {
  background-color: #abcd03;
  text-align: center;
  overflow: hidden;
}

.features [class*="language-"] {
  background-color: rgba(0, 0, 0, 0.07);
}

@media (min-width: 38.125em) {
  .features ul {
    margin-right: -30px;
  }
  .features li {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    margin-right: 30px;
  }
}

.features svg {
  margin: 50px auto 50px;
  height: 90px;
}

.get-started .heading2 {
  text-align: center;
}

.get-started ul {
  counter-reset: getstarted;
}

.get-started li {
  counter-increment: getstarted;
  padding: 5% 0;
}

.get-started li + li {
  border-top: 1px solid #eee;
}

.get-started li:last-child {
  padding-bottom: 0;
}

@media (max-width: 37.4375em) {
  .get-started li .media {
    display: none;
  }
}

@media (min-width: 37.5em) {
  .get-started li .media {
    float: right;
    width: 32%;
    text-align: center;
  }
  .get-started li .media .code-wrapper {
    text-align: left;
  }
  .get-started li .media-body {
    float: left;
    width: calc(100% - 32% - 30px);
  }
}

.get-started h4 {
  position: relative;
}

.get-started h4:before {
  content: counter(getstarted);
  margin: -0.5em 0.3em 0 0;
  display: inline-block;
  font-style: italic;
  font-size: 1.6em;
  color: #048af0;
}

.whats-next {
  text-align: center;
  background-color: #f5f5f5;
}

.support {
  padding: 30px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #01335a;
}

.support p {
  margin-top: 0;
}

.support img {
  margin-right: 0.5em;
  vertical-align: middle;
}

:not(pre) > code[class*="language-"] {
  padding: 0.2em 0.4em;
  font-size: 85%;
  text-shadow: none;
  background-color: #f5f5f5;
  white-space: normal;
}

pre[class*="language-"] {
  margin: 0;
  background-color: #f5f5f5;
}

pre[class*="language-"] > code {
  display: block;
  max-height: 28em;
  overflow: auto;
}

pre[class*="language-"] > code:before {
  display: none;
}

.docs-wrapper {
  max-width: 1600px;
  padding: 0 15px;
  margin-left: 0;
  margin-right: auto;
}

.docs-wrapper a {
  color: #048af0;
}

.docs-wrapper a:hover {
  text-decoration: underline;
}

.docs-wrapper main > section {
  padding: 20px 0;
}

.docs-wrapper main h2, .docs-wrapper main h4, .docs-wrapper main p, .docs-wrapper main .code-wrapper {
  margin-bottom: 20px;
}

.docs-wrapper main .browser-capability {
  font-style: italic;
  color: #999;
}

.docs-wrapper main h2 {
  font-size: 32px;
  font-size: 2rem;
  text-transform: uppercase;
}

.docs-wrapper main h4 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-top: 2em;
}

.docs-wrapper main p {
  max-width: 46em;
}

.docs-wrapper main > p:first-child {
  margin-top: 0;
}

.docs-wrapper main .img-container {
  border: 5px solid #ccc;
  display: block;
  max-height: 400px;
  overflow: auto;
}

.docs-wrapper main .img-container img {
  max-width: none;
}

.docs-wrapper main .capability {
  font-size: 0.85em;
  color: #999;
}

.docs-wrapper main ul.initial > li {
  margin-left: 2em;
  list-style-type: '+  ';
}

.docs-nav {
  width: 215px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
}

.docs-nav ul {
  margin-bottom: 2em;
  max-height: 48em;
  overflow: hidden;
  transition: max-height 0.25s, margin-bottom 0.25s;
}

.docs-nav h4, .docs-nav a {
  line-height: 2.4;
}

.docs-nav h4 {
  margin-bottom: 0;
  padding-left: 1em;
  cursor: pointer;
}

.docs-nav svg {
  float: right;
  height: 2.4em;
  line-height: 2.4;
  padding: 0 0.5em;
  transition: transform 0.25s;
}

.docs-nav a {
  display: block;
  padding-left: 2em;
  transition: background-color 0.25s;
  color: #048af0;
}

.docs-nav a:hover {
  background-color: #eee;
}

.docs-nav .active a {
  color: #fff;
  background-color: #048af0;
}

.docs-nav-toggle {
  font-size: 14px;
  font-size: 0.875rem;
  float: right;
  width: 100px;
  height: 36px;
  background-color: #048af0;
  line-height: 36px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.docs-nav .shrank svg {
  transform: rotate(180deg);
}

.docs-nav .shrank ul {
  max-height: 0;
  margin-bottom: 0;
}

.sticky-line {
  position: sticky;
  top: 0;
  z-index: 9;
  padding-bottom: 10px;
  background-color: #fff;
}

.search-form input {
  width: calc(100% - 8em);
  line-height: 2.2;
  padding: 0 0.7em;
  border: 1px solid #048af0;
  box-sizing: border-box;
}

.toggle-container {
  border-bottom: 4px solid #333;
}

.toggle-container .btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 2.6;
  min-width: 7em;
}

[data-show="code"] [data-toggle="code"], [data-show="preview"] [data-toggle="preview"] {
  color: #fff;
  border-radius: 4px 4px 0 0;
  background-color: #333;
}

[data-show="code"] .preview-wrapper {
  display: none;
}

[data-show="preview"] .code-wrapper {
  display: none;
}

.version-line {
  margin-bottom: 5%;
}

.code-wrapper {
  background-color: #f5f5f5;
}

.code-wrapper header {
  font-size: 14px;
  line-height: 2;
  padding: 0 1em;
  color: #fff;
  background-color: #333;
}

.code-wrapper .markup {
  background-color: #abcd03;
}

.code-wrapper .scss {
  background-color: #f08a04;
}

.code-wrapper .javascript {
  background-color: #f004f0;
}

.code-wrapper li {
  width: 100%;
  float: left;
  position: relative;
}

.code-wrapper li:hover .copy-button {
  opacity: 1;
}

@media (min-width: 64em) {
  .code-wrapper ul li:first-child:nth-last-child(n + 2),
  .code-wrapper ul li:first-child:nth-last-child(n + 2) ~ li {
    width: calc(100% / 2);
  }
}

@media (min-width: 81.25em) {
  .code-wrapper ul li:first-child:nth-last-child(n + 3),
  .code-wrapper ul li:first-child:nth-last-child(n + 3) ~ li {
    width: calc(100% / 3);
  }
}

.copy-button {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #fff;
  background-color: #048af0;
  line-height: 2.7em;
  height: 2.7em;
  padding: 0 0.8em;
  position: absolute;
  top: 0;
  right: 1em;
  opacity: 0;
  transition: opacity 0.25s;
}

[data-content] {
  min-height: 100px;
  background-color: #84DBFF;
}

.preview-wrapper {
  min-height: 50px;
  margin: 10px 0 20px;
  resize: both;
  overflow: hidden;
  position: relative;
}

.preview-wrapper .full {
  width: 100%;
}

.metro-1 [data-content] {
  height: 1000px;
}

[class*="angled-edges-"] p {
  padding: 10px;
  margin: 0 !important;
}

@media (max-width: 56.1875em) {
  .docs-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(-215px);
    transition: transform 0.25s;
  }
  .shownav .docs-nav {
    transform: translateX(0);
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .docs-nav-toggle:before {
    content: "Show menu";
  }
  .shownav .docs-nav-toggle:before {
    content: "Hide menu";
  }
  .preview-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@media (min-width: 56.25em) {
  .docs-nav {
    max-height: unset;
    position: relative;
    float: left;
    width: 215px;
  }
  @supports (position: sticky) {
    .docs-nav {
      position: sticky;
      top: 0;
      max-height: 100vh;
    }
  }
  .hidenav .docs-nav {
    display: none;
  }
  .docs-nav-toggle:before {
    content: "Hide menu";
  }
  .hidenav .docs-nav-toggle:before {
    content: "Show menu";
  }
  .docs-wrapper > main {
    float: right;
    width: calc(100% - 215px - 30px);
  }
  .hidenav > main {
    width: 100%;
  }
  .hidenav .preview-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
