//=> {% macro get(componentName) %}
//=> {% if componentName === "importrocket_style1" %}
@import "../bower_components/rocket/src/scss/rocket";

//=> {% elif componentName === "addcontainer_style_setting" %}
$ro-layout: (
  container: 1170px,
  gutter: 30px,
);

//=> {% elif componentName === "addcontainer_style1" %}
.container { @include container(); }

//=> {% elif componentName === "centerlayout_style1" %}
// hero
.hero {
  @include center();

  // ...
  // other styles
  // ...

  &-content { max-width: 960px; }
}

//=> {% elif componentName === "innercontainer_style1" %}
.inner-container { @include container( (
  'container': 50em
) ); }

//=> {% elif componentName === "addgallery_style1" %}
$gallery-gutter: 2.56%; // (30px / 1170px)
.gallery {
  &2 { @include gallery( (
    'layout': 2, 
    'gutter': $gallery-gutter
  ) ); }
  &3 { @include gallery( (
    'layout': 3, 
    'gutter': $gallery-gutter
  ) ); }
  &4 { @include gallery( (
    'layout': 4, 
    'gutter': $gallery-gutter
  ) ); }
}
[class*="gallery"] img { 
  display: block; 
  width: 100%;
}

//=> {% endif %}
//=> {% endmacro %}