{% macro get(componentName) %}
{% if componentName === "datatype_style1" %}
// list
$margin: (20px, 40px);
$z-index: (1 2 3 4 5 6 7 8 9 10);
$a-nested-list: (1 2 3 4 5, 6 7 8);

// map
$breakpoints: (
  small: 640px,
  midum: 768px,
  large: 1024px
);

{% elif componentName === "parameter_style1" %}
.grid1 { @include grid( (
  'layout': (3 7 4) 
) ); }

{% elif componentName === "style1" %}

{% endif %}
{% endmacro %}